# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- Libraries for Data Science
- Application Programming Interfaces
- Introduction to GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. PyTorch
3. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|MATLAB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
print(3*4+5)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Banu Alili